.reset-container {
  text-align: center;
}

.lever-container {
  position: absolute;
  left: -75px;
  bottom: 71px;
}

.lever-text {
  color: #3D9970;
  position: absolute;
  transform: translate(-80px);
  bottom: 0;
  font-family: 'Francois One', sans-serif;
  display: inline-block;
  animation: bounceright 2s infinite;
}

.lever {
  display: inline-block;
  width: 50px;
  height: 16px;
  background: #0077BE;
}

.arrow-bounce {
  font-size: 30px;
  vertical-align: bottom;
  margin-left: 10px;
}

.reset-button {
  display: none;
  margin: auto;
  width: 60px;
  height: 25px;
  border-radius: 5px;
  color: white;
  background: #0077BE;
  padding: auto 5px;
}

.refresh-icon {
  padding-right: 5px;
  font-size: 15px;
}

@keyframes bounceright {
  0% { transform: translate(-80px);}
  50% { transform: translate(-60px);}
  100% { transform: translate(-80px);}
}

@media screen and (max-width: 768px) {
  .lever-container {
    display: none;
  }

  .reset-button {
    display: inline-block;
  }
}

