.arrow {
  display: inline-block;
  width: 9%;
  margin: 1% 1.6%;
  color: #3D9970;
  font-size: 30px;
}

.arrow:hover {
  cursor: pointer;
}

@media screen and (min-width: 1500px) {
  .arrow {
    width: 9.5%;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .arrow {
    width: 8.7%;
  }
}