.header {
  font-family: 'Gugi', cursive;
  color: #3D9970;
  display: flex;
  justify-content: space-around;
  margin: .2em auto auto 3em;
  font-size: 2em;
}

.black {
  color: #000;
}

.red {
  color: red;
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 1.3em;
    margin-left: 0;
  }
}

.title {
  font-size: 1.2em;
}

.player-change {
  font-size: 1em;
  color: #DFC12A;
  font-family: 'Francois One', sans-serif;
  text-align: right;
  animation: slideleft .5s linear;
  transform: translate(-100px);
  width: 50%;
}

.hide-player {
  display: none;
}

@keyframes slideleft {
  from { transform: translate(500px);}
  to { transform: translate(-100px);}
}