.space {
  height: 70px;
  background: #3D9970;
  border-radius: 50%;
  width: 9%;
  margin: 1% 2%;
  position: relative;
}

.chip {
  z-index: 1;
  border-radius: 50%;
  display: none;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}

.player-drop {
  display: block;
  animation: drop 1s linear;
}

@keyframes drop {
  0% { transform: translateY(-800px); }
  100% { transform: translateY(0px); }
}

@keyframes clearboard {
  0% { transform: translateY(0px); }
  100% { transform: translateY(700px); }
}