.lever-container {
  position: absolute;
  left: -75px;
  bottom: 71px;
}

.lever-text {
  color: #3D9970;
  position: absolute;
  transform: translate(-80px);
  bottom: 0;
  font-family: 'Francois One', sans-serif;
  display: inline-block;
  animation: bounceright 2s infinite;
}

.lever {
  display: inline-block;
  width: 50px;
  height: 16px;
  background: #0077BE;
}

@keyframes bounceright {
  0% { transform: translate(-80px);}
  50% { transform: translate(-60px);}
  100% { transform: translate(-80px);}
}

