.board-holder {
  height: 640px;
  border-left: 25px solid #0077BE;
  border-right: 25px solid #0077BE;
  border-bottom: none;
  position: relative;
}

.board {
  z-index: 2;
  background: #DFC12A;
}

@media screen and (max-width: 600px) {
  .container .board-holder {
    border-left: 15px solid #0077BE;
    border-right: 15px solid #0077BE;
  }
}