.board-holder {
  height: 640px;
  width: 65%;
  border-left: 25px solid #0077BE;
  border-right: 25px solid #0077BE;
  border-bottom: none;
  margin: auto;
}

.board {
  background: #DFC12A;
}

@media screen and (max-width: 767px) {
  .board-holder {
    width: 85%;
  }
}